<div class="effect-item" data-effect-id="{{effect._id}}" data-effect-uuid="{{effect.uuid}}">
  <div class="effect-info {{cssClass}} {{#unless hasText}} simple {{/unless}}">
    <h1 class="effect-info-header">
      <span class="name">{{effect.name}}</span>
      <div class="effect-tags">
        <div class="effect-tag temporary">
          {{#if durationLabel}}
          <i class="fa-solid fa-hourglass"></i>
          {{durationLabel}}
          {{else}}
          <i class="fa-solid fa-feather"></i>
          {{localize "VISUAL_ACTIVE_EFFECTS.LABELS.PASSIVE"}}
          {{/if}}
        </div>

        {{#if effect.disabled}}
        <div class="effect-tag disabled">
          <i class="fa-solid fa-ban"></i>
          {{localize "VISUAL_ACTIVE_EFFECTS.LABELS.DISABLED"}}
        </div>
        {{/if}}

        {{#if effect.sourceName}}
        <div class="effect-tag source">
          <i class="fa-solid fa-tree"></i>
          {{localize "VISUAL_ACTIVE_EFFECTS.LABELS.SOURCE"}}: {{effect.sourceName}}
        </div>
        {{/if}}
      </div>
    </h1>

    {{#if strings.intro}}
    <div class="effect-info-details">
      <div class="effect-intro">{{{strings.intro}}}</div>
    </div>
    {{/if}}

    {{#if buttons.length}}
    <div class="vae-buttons">
      {{#each buttons}}
      <button type="button" class="vae-button" data-action="custom-button" data-id="{{id}}">{{label}}</button>
      {{/each}}
    </div>
    {{/if}}

  </div>

  <div class="effect-icon {{#if effect.disabled}}disabled{{/if}}" style="background-image: url({{effect.img}})">
    {{#if effect.isTemporary}}
    {{#if isExpired}}
    <i class="expired badge fa-solid fa-clock"></i>
    {{else if isInfinite}}
    <i class="unlimited badge fa-solid fa-infinity"></i>
    {{else}}
    <i class="badge fa-solid fa-clock"></i>
    {{/if}}
    {{/if}}
  </div>
</div>
