<form class="visual-active-effects" autocomplete="off">
  <div class="inputs">
    <div class="form-group">
      <div class="form-fields">
        <label>{{localize "VISUAL_ACTIVE_EFFECTS.STATUS_ID"}}</label>
        <input type="text" name="flags.core.statusId" value="{{statusId}}">
        <label>{{localize "VISUAL_ACTIVE_EFFECTS.FORCE_INCLUDE"}}</label>
        <input type="checkbox" name="flags.visual-active-effects.data.forceInclude" {{checked forceInclude}}>
      </div>
    </div>

    <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
      <a class="item" data-tab="intro">
        <i class="{{ICON}}"></i>
        {{localize "VISUAL_ACTIVE_EFFECTS.INTRO"}}
      </a>
      <a class="item" data-tab="content">
        <i class="{{ICON}}"></i>
        {{localize "VISUAL_ACTIVE_EFFECTS.CONTENT"}}
      </a>
    </nav>

    <div class="sections">
      <div class="tab flexrow" data-tab="intro">
        {{editor intro target="flags.visual-active-effects.data.intro" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
      <div class="tab flexrow" data-tab="content">
        {{editor content target="flags.visual-active-effects.data.content" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </div>

  <footer class="sheet-footer">
    <button type="submit"><i class="fa-solid fa-save"></i> {{localize "Save"}}</button>
  </footer>

</form>
