<form class="visual-active-effects" autocomplete="off">
  <div class="inputs">
    <div class="config">
      <div class="status-header">
        {{localize "VISUAL_ACTIVE_EFFECTS.Statuses"}}
        <a data-action="add-status"><i class="fa-solid fa-plus-square"></i></a>
      </div>
      {{#each statuses}}

      {{> "modules/visual-active-effects/templates/status.hbs"}}

      {{/each}}
      <div class="form-group">
        <label>{{localize "VISUAL_ACTIVE_EFFECTS.FORCE_INCLUDE"}}</label>
        <div class="form-fields">
          <input type="checkbox" name="flags.visual-active-effects.data.forceInclude" {{checked forceInclude}}>
        </div>
      </div>
    </div>

    <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
      <a class="item" data-tab="intro">
        <i class="{{ICON}}"></i>
        {{localize "VISUAL_ACTIVE_EFFECTS.INTRO"}}
      </a>
      <a class="item" data-tab="content">
        <i class="{{ICON}}"></i>
        {{localize "VISUAL_ACTIVE_EFFECTS.CONTENT"}}
      </a>
    </nav>

    <div class="sections">
      <div class="tab flexrow" data-tab="intro">
        {{editor intro target="description" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
      <div class="tab flexrow" data-tab="content">
        {{editor content target="flags.visual-active-effects.data.content" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </div>

  <footer class="sheet-footer">
    <button type="submit"><i class="fa-solid fa-save"></i> {{localize "Save"}}</button>
  </footer>

</form>
