<form class="visual-active-effects" autocomplete="off">
  <div class="inputs">
    <div class="config">
      <div class="form-group">
        <label>{{localize "VISUAL_ACTIVE_EFFECTS.INCLUSION"}}</label>
        <div class="form-fields inclusion">
          <select data-dtype="Number" name="flags.visual-active-effects.data.inclusion">
            {{#select inclusion}}
            <option value="0">&mdash;</option>
            <option value="1">{{localize "VISUAL_ACTIVE_EFFECTS.INCLUSION_INCLUDE"}}</option>
            <option value="-1">{{localize "VISUAL_ACTIVE_EFFECTS.INCLUSION_EXCLUDE"}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>

    <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
      <a class="item" data-tab="intro">
        <i class="{{ICON}}"></i>
        {{localize "VISUAL_ACTIVE_EFFECTS.INTRO"}}
      </a>
      <a class="item" data-tab="content">
        <i class="{{ICON}}"></i>
        {{localize "VISUAL_ACTIVE_EFFECTS.CONTENT"}}
      </a>
    </nav>

    <div class="sections">
      <div class="tab flexrow" data-tab="intro">
        {{editor intro target="description" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
      <div class="tab flexrow" data-tab="content">
        {{editor content target="flags.visual-active-effects.data.content" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </div>

  <footer class="sheet-footer">
    <button type="submit"><i class="fa-solid fa-save"></i> {{localize "Save"}}</button>
  </footer>

</form>
